* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-container {
  width: 70%;
  height: 34px;
  display: flex;
  margin-bottom: 15px;
}
.search {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  transition: 0.25s;
}
.search:focus{
    background-color: rgb(4, 138, 96);
    color: white;
    box-shadow: 5px 6px 4px rgb(30, 207, 116);
}
.info-container {
  width: 85%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-left: 140px;
}
.name-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 5px;
}
.name {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  transition: 0.25s;
}
.name:focus{
    background-color: rgb(22, 189, 147);
    color: white;
    box-shadow: 5px 6px 4px rgb(113, 31, 206);
}
.phone-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 5px;
}
.phone {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  transition: 0.25s;
}
.phone:focus{
    background-color: rgb(22, 189, 147);
    color: white;
    box-shadow: 5px 6px 4px rgb(113, 31, 206);
}
.email-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 5px;
}
.email {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  transition: 0.25s;
}
.email:focus {
  background-color: rgb(22, 189, 147);
  color: white;
  box-shadow: 5px 6px 4px rgb(113, 31, 206);
}
.btn-container {
  width: min-content;
  height: 100%;
}
.btn {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  cursor: pointer;
  transition: 0.25s;
}
.btn:hover {
  background-color: navy;
  box-shadow: 2px 3px 1px rgb(32, 175, 156);
  border: none;
  color: white;
}
.save-container {
  width: 100%;
}
.title {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(23, 21, 21);
  border: 1px solid rgb(193, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 3px 4px gray;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  padding: 12px;
}
.text {
  padding-left: 8px;
}
.data-container{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    color: rgb(23, 21, 21);
    border: 1px solid rgb(193, 188, 188);
    border-radius: 4px;
    box-shadow: 2px 3px 4px rgb(97, 214, 24);
    background-color: rgb(1, 203, 122);
    display: flex;
    justify-content: center;
    padding: 12px;
    transition: 0.25s;
}
.data-container:hover{
    background-color: rgb(65, 141, 15);
    color: white;
    box-shadow: 2px 3px 4px rgb(211, 181, 8);
    
}
